{% extends 'base.html' %}
{% block content %}

<div class="container text-center mb-5">
    <div class="d-flex flex-column justify-content-center">
        <div class="d-flex flex-row justify-content-center">
            <h1><span class="badge rounded-pill btn-lg bg-primary mb-3 mx-auto">{{ drink.category.name.title() }}</span></h1>
            <h1><span class="badge rounded-pill bg-secondary mb-3 mx-auto">{{ drink.glass.name.title() }}</span></h1>    
        </div>
        {% if user %}
            {% if g.user.has_bookmark(drink.id) %}
            <i class="bi bi-bookmark-fill fs-2"></i>
            {% else %}
            <i class="bi bi-bookmark fs-2"></i>
            {% endif %}
        {% endif %}
    </div>


    <img class="rounded float-left" src="{{ drink.image_url }}" alt="{{ drink.name.title() }}" width="200px">
    {% if drink.image_attribution %}
    <p>From: {{ drink.image_attribution }}</p>
    {% endif %}
    <table class="table d-inline">
        <thead>
            <tr>
                <th scope="col">Quantity</th>
                <th scope="col">Ingredient</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe_item in drink.ingredients %}
            <tr>
                <td>
                    {% if recipe_item.quantity %}
                    {{ recipe_item.quantity }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>{{ recipe_item.ingredient.name.title() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h2 class="text-center">Instructions</h2>
<div class="mb-5">
    {% for instruction in drink.instructions %}
    <h3>{{ instruction.language.name }}</h3>
    <p>{{ instruction.text }}</p>
    {% endfor %}    
</div>

{% if drink.video_url %}
<iframe src="https://www.youtube.com/embed/{{ drink.get_video_url_id() }}" frameborder="0"></iframe>
{% endif %}


{% endblock %}

{% block dependencies %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/drink.js"></script>
{% endblock %}