{% extends 'base.html' %}

{% block content %}
<form action="/drinks">
    {{ form.hidden_tag() }}
    {% for field in form
        if field.widget.input_type != "hidden" %}
    <div class="form-label">{{ field.label }}</div>
    <div class="form-control">{{ field }}</div>
    {% endfor %}
    <button class="btn btn-outline-success my-2 my-sm-0 d-inline" type="submit">Search</button>
    <span id="clear-btn" class="btn btn-outline-primary">Clear Fields</span>
</form>
<table class="table">
    <thead>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
    </thead>
    <tbody id="drinks-list">
        {% for drink in drinks %}
        <tr>
            <td><img class="mx-auto d-inline rounded img-thumbnail" src="{{ drink.image_url }}" alt="" width="200px"></td>
            <td class="align-middle"><a class="display-5 d-inline text-decoration-none text-wrap" href="/drinks/{{ drink.id }}">{{ drink.name.title() }}</a></td>
            <td class="align-middle"><h2 class="d-inline text-right"><span id="{{ drink.category_id }}" class="tag-pill rounded-pill bg-primary text-light mx-auto px-3">{{ drink.category.name.title() }}</span></h2></td>    
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block dependencies %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/drinks.js"></script>
{% endblock %}