{% extends "base.html" %}

{% block content %}

<form action="{{ path }}" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form
        if field.widget.input_type != "hidden" %}
        
    <div class="form-label">
        {{ field.label }}
    </div>
    <div class="form-control">
        {{ field }}
    </div>
    {% endfor %}
    <button class="btn btn-primary mt-2" type="submit">{{ btn_name }}</button>
    <a href="/home" class="btn btn-outline-primary mt-2">Cancel</a>
</form>

{% endblock %}