{% extends "base.html" %}
{% block content %}
<p class="h2 text-center">Welcome to MyMixology!</p>
<p class="h2 text-center">The site is free to use without an account.</p>
<p class="h2 text-center">To bookmark your favorite recipes, you may create an account.</p>
<div class="text-center mt-3">
    <a href="{{ url_for('search', page=1) }}" class="btn btn-primary fs-2">Enter</a>
</div>
{% if not g.user %}
<div class="flex-inline mt-3 justify-content-evenly d-flex fs-5 mb-5">
    <a href="/login" class="btn btn-success d-block fs-2">Log In</a>
    <a href="/register" class="btn btn-outline-success d-block fs-2">Register</a>
</div>
{% endif %}

{% endblock %}