{% extends "base.html" %}
{% block content %}
<p class="h2 text-center">Welcome to MyMixology!</p>
<p class="h2 text-center">Explore various drink recipes, and bookmark them with your own account.</p>
<div class="text-center mt-5">
    <a href="{{ url_for('list_drinks', page=1) }}" class="btn btn-primary fs-2">Enter</a>
</div>
{% if not g.user %}
<div class="flex-inline mt-5 justify-content-evenly d-flex">
    <a href="/login" class="btn btn-success d-block fs-2">Log In</a>
    <a href="/register" class="btn btn-outline-success d-block fs-2">Register</a>
</div>
{% endif %}

{% endblock %}