{% extends 'base.html' %}
{% block content %}
<table class="table">
    <tr>
        <td>Username</td>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <td>Language Preference</td>
        <td>{{ user.language_pref.name }}</td>
    </tr>
    <tr>
        <td>Bookmarks</td>
        <td>
            {% if user.bookmarks != [] %}
            <ul class="list-group">
            {% for bookmark in user.bookmarks %}
                <li class="list-group-item">
                    <a class="text-decoration-none" href="/drinks/{{ bookmark.id }}">
                        {{ bookmark.name.title() }}
                    </a>
                </li>
            {% endfor %}
            </ul>
            {% else %}
            <p>-</p>
            {% endif %}
        </td>
    </tr>
</table>
{% endblock %}